<div class="col-lg-2 col-md-6">
  <div id="map-detail" class="panel panel-<%= color %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="<%= icon %>"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= num %></div>
          <div><%= type %></div>
        </div>
      </div>
    </div>
    <a path="<%= link %>" href="#">
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>