<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header"><%= @house.community %></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info-circle fa-fw"></i> 基本信息
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-lg-4 " align="center">
        <img src="http://placehold.it/280x200">
      </div>
      <div class=" col-md-8 col-lg-8 ">
        <table class="table">
          <tbody>
          <tr>
            <td style="width: 15%">小区名:</td>
            <td><%= @house.community %></td>
            <td style="width: 15%">面积:</td>
            <td><%= @house.area %>平方米</td>
          </tr>
          <tr>
            <td>房型:</td>
            <td><%= @house.room_shape %></td>
            <td>楼层:</td>
            <td><%= @house.floor %></td>
          </tr>
          <tr>
            <td>建造时间:</td>
            <td><%= @house.build_time %>年</td>
            <td>距离市中心:</td>
            <td><%= @house.distance/1000.to_f %>千米</td>
          </tr>
          <tr>
            <td>每平米:</td>
            <td><%= @house.average_price/10000.to_f %>万</td>
            <td>总价:</td>
            <td><%= @house.average_price*@house.area/10000 %>万</td>
          </tr>
          <tr>
            <td>地址:</td>
            <td colspan=3><%= @house.street %></td>
          </tr>
          <tr>
            <td>数据来源:</td>
            <td><%= link_to "安居客二手房交易市场", @house.url %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">周边基础设施</h2>
  </div>
</div>

<div class="row">

  <%= render 'houses/item', :num => @house.bus_num, :color => 'primary', :type => '公交', path: ajax_house_path(@house, data: 'bus'), icon: 'fa fa-bus fa-4x' %>
  <%= render 'houses/item', :num => @house.work_num, :color => 'green', :type => '写字喽', path: ajax_house_path(@house, data: 'work'), icon: 'fa fa-building fa-4x' %>
  <%= render 'houses/item', :num => @house.school_num, :color => 'yellow', :type => '学校', path: ajax_house_path(@house, data: 'school'), icon: 'fa fa-university fa-4x' %>
  <%= render 'houses/item', :num => @house.hospital_num, :color => 'red', :type => '医院', path: ajax_house_path(@house, data: 'hospital'), icon: 'fa fa-heart fa-4x' %>
  <%= render 'houses/item', :num => @house.subway_num, :color => 'light-blue', :type => '地铁', path: ajax_house_path(@house, data: 'subway'), icon: 'fa fa-subway fa-4x' %>
  <%= render 'houses/item', :num => @house.shop_num, :color => 'purple', :type => '购物', path: ajax_house_path(@house, data: 'shop'), icon: 'fa fa-shopping-cart fa-4x' %>

</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 直方图
      </div>
      <div class="panel-body">
        <div id="histogram" style="width: 100%;height: 400px"></div>
      </div>
    </div>
    <div id="nav-scroll">
      <div id="map-detail" class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> 地图信息
          <div class="pull-right">
            <a href="#" class="btn btn-primary btn-xs" path="<%= ajax_house_path(@house, data: 'bus') %>" role="button">公交车站</a>
            <a href="#" class="btn btn-primary btn-xs" path="<%= ajax_house_path(@house, data: 'subway') %>" role="button">地铁</a>
            <a href="#" class="btn btn-success btn-xs" path="<%= ajax_house_path(@house, data: 'school') %>" role="button">学校</a>
            <a href="#" class="btn btn-info btn-xs" path="<%= ajax_house_path(@house, data: 'work') %>" role="button">写字楼</a>
            <a href="#" class="btn btn-danger btn-xs" path="<%= ajax_house_path(@house, data: 'hospital') %>" role="button">医院</a>
            <a href="#" class="btn btn-warning btn-xs" path="<%= ajax_house_path(@house, data: 'shop') %>" role="button">购物</a>
          </div>
        </div>
        <div class="panel-body">
          <div id="l-map" style="height: 400px;width: 100%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i>饼状图
      </div>
      <div class="panel-body">
        <div id="pie_chart" style="width: 100%;height: 400px"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i>雷达图
      </div>
      <div class="panel-body">
        <div id="radar_chart" style="width: 100%;height: 400px"></div>
      </div>
    </div>
  </div>
</div>

<script>

  var Histogram = echarts.init(document.getElementById('histogram'));
  var pie_chart = echarts.init(document.getElementById('pie_chart'));
  var radar_chart = echarts.init(document.getElementById('radar_chart'));
  var histogram_colors = ['#d14a61', '#5793f3'];

  var map = new BMap.Map("l-map");
  var house_point = new BMap.Point(<%=@house.longitude%>, <%=@house.latitude%>);
  map.centerAndZoom(house_point, 15);
  var marker = new BMap.Marker(house_point);
  map.addOverlay(marker);
  marker.setAnimation(BMAP_ANIMATION_BOUNCE);
  //  map.enableScrollWheelZoom(true);
  //  var myGeo = new BMap.Geocoder();

  $('#map-detail a').click(function (event) {
    event.preventDefault();
    var link = $(this);
    $.scrollTo($('#nav-scroll'), 300);
    $.ajax({
      type: "GET",
      url: link.attr('path'),
      dataType: 'json',
      success: function (data) {
        map.centerAndZoom(house_point, 15);
        map.clearOverlays();
        var marker = new BMap.Marker(house_point);
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);

        $.each(data, function (index, item) {
          var point = new BMap.Point(item.longitude, item.latitude);
//          var marker = new BMap.Marker(point);
//          map.addOverlay(marker);
          var maker_type = link.attr('path').split('?')[1].split('=')[1];
          var myIcon = new BMap.Icon("/icon/" + maker_type + ".png", new BMap.Size(25, 25));
          var marker = new BMap.Marker(point, {icon: myIcon});  // 创建标注
          map.addOverlay(marker);              // 将标注添加到地图中

          var opts = {
            width: 250,
            height: 0,
            title: item.name
          };
          var infoWindow = new BMap.InfoWindow("直线距离: " + item.distance + "米, 需要步行时间:" + parseFloat(item.distance / 50).toFixed(2) + "分", opts);
          marker.addEventListener("mouseover", function () {
            map.openInfoWindow(infoWindow, point); //开启信息窗口
          });
//          marker.addEventListener("mouseout", function () {
//            map.closeInfoWindow(infoWindow, point);
//          });
        })
      },
      error: function () {
        alert('error')
      },
      timeout: function () {
        alert('time out')
      }
    });
  });

  Histogram.setOption({
        color: histogram_colors,
        tooltip: {
          trigger: 'axis'
        },
        grid: {
          right: '20%'
        },
        toolbox: {
          feature: {
            dataView: {show: true, readOnly: false},
            restore: {show: true},
            saveAsImage: {show: true}
          }
        },
        legend: {
          data: ['个数', '平均距离']
        },
        xAxis: [
          {
            type: 'category',
            axisTick: {
              alignWithLabel: true
            },
            data: ['公交站', '写字楼', '学校', '医院', '地铁', '购物']
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '平均距离',
            min: 0,
            max: 1000,
            position: 'right',
            axisLine: {
              lineStyle: {
                color: histogram_colors[0]
              }
            },
            axisLabel: {
              formatter: '{value} m'
            }
          },
          {
            type: 'value',
            name: '个数',
            min: 0,
            max: 50,
            position: 'left',
            axisLine: {
              lineStyle: {
                color: histogram_colors[1]
              }
            },
            axisLabel: {
              formatter: '{value} 个'
            }
          }
        ],
        series: [
          {
            name: '平均距离',
            type: 'line',
            data: [
              <%=average(@house.buses)%>,
              <%=average(@house.works)%>,
              <%=average(@house.schools)%>,
              <%=average(@house.hospitals)%>,
              <%=average(@house.subways)%>,
              <%=average(@house.shops)%>]
          },
          {
            name: '个数',
            type: 'bar',
            yAxisIndex: 1,
            data: [
              <%=@house.bus_num%>,
              <%=@house.work_num%>,
              <%=@house.school_num%>,
              <%=@house.hospital_num%>,
              <%=@house.subway_num%>,
              <%=@house.shop_num%>]
          }
        ]
      }
  );

  pie_chart.setOption({
    tooltip: {
      trigger: 'item',
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
      orient: 'vertical',
      left: 'left',
      data: ['公交', '地铁', '学校', '医院', '写字楼', '购物']
    },
    series: [
      {
        name: '基础设施',
        type: 'pie',
        radius: '55%',
        center: ['50%', '60%'],
        data: [
          {value: <%= @house.bus_num%>, name: '公交'},
          {value: <%= @house.subway_num%>, name: '地铁'},
          {value: <%= @house.school_num%>, name: '学校'},
          {value: <%= @house.hospital_num%>, name: '医院'},
          {value: <%= @house.work_num%>, name: '写字楼'},
          {value: <%= @house.shop_num%>, name: '购物'},
        ],
        itemStyle: {
          emphasis: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }
    ]
  });


  radar_chart.setOption({
    tooltip: {},
    legend: {
      data: ['综合得分']
    },
    radar: {
      // shape: 'circle',
      indicator: [
        {name: '生活', max: 20},
        {name: '交通', max: 40},
        {name: '工作', max: 40},
        {name: '教育', max: 40},
        {name: '医疗', max: 40}
      ]
    },
    series: [{
      type: 'radar',
      // areaStyle: {normal: {}},
      data: [
        {
          value: [evaluate(<%=@house.shop_num%>, <%=average(@house.shops)%>),
            evaluate(<%=@house.bus_num%>, <%=average(@house.works)%>) + evaluate(<%=@house.subway_num*10%>, <%=average(@house.subways)%>),
            evaluate(<%=@house.work_num%>, <%=average(@house.shops)%>),
            evaluate(<%=@house.school_num%>, <%=average(@house.schools)%>),
            evaluate(<%=@house.hospital_num%>, <%=average(@house.hospitals)%>)],
          name: '综合得分'
        }
      ]
    }]
  });

  function evaluate(num, distance) {
    var result = num - distance / 2000;
    if (result > 40) {
      result = 40;
    }
    return result;
  }


</script>