<% def average(array)
     sum = 0
     array.each { |a| sum+=a.distance }
     return sum/array.length
   end
%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">房屋周围</h1>
  </div>
</div>

<div class="row">

  <%= render 'houses/item', :num => @house.bus_num, :color => 'primary', :type => '公交', icon: 'fa fa-bus fa-4x' %>
  <%= render 'houses/item', :num => @house.work_num, :color => 'green', :type => '写字喽', icon: 'fa fa-building fa-4x' %>
  <%= render 'houses/item', :num => @house.school_num, :color => 'yellow', :type => '学校', icon: 'fa fa-university fa-4x' %>
  <%= render 'houses/item', :num => @house.hospital_num, :color => 'red', :type => '医院', icon: 'fa fa-heart fa-4x' %>
  <%= render 'houses/item', :num => @house.subway_num, :color => 'light-blue', :type => '地铁', icon: 'fa fa-subway fa-4x' %>
  <%= render 'houses/item', :num => @house.shop_num, :color => 'purple', :type => '购物', icon: 'fa fa-shopping-cart fa-4x' %>

</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
              <li><a href="#">Another action</a>
              </li>
              <li><a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div id="histogram" style="width: 100%;height: 400px"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 基本信息
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i>饼状图
      </div>
      <div class="panel-body">
        <div id="pie_chart" style="width: 100%;height: 400px"></div>
      </div>
    </div>
  </div>
</div>

<script>

  var Histogram = echarts.init(document.getElementById('histogram'));
  var pie_chart = echarts.init(document.getElementById('pie_chart'));
  var colors = ['#d14a61', '#5793f3'];

  Histogram.setOption({
        color: colors,
        tooltip: {
          trigger: 'axis'
        },
        grid: {
          right: '20%'
        },
        toolbox: {
          feature: {
            dataView: {show: true, readOnly: false},
            restore: {show: true},
            saveAsImage: {show: true}
          }
        },
        legend: {
          data: ['个数', '平均距离']
        },
        xAxis: [
          {
            type: 'category',
            axisTick: {
              alignWithLabel: true
            },
            data: ['公交站', '写字楼', '学校', '医院', '地铁', '购物']
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '平均距离',
            min: 0,
            max: 1000,
            position: 'right',
            axisLine: {
              lineStyle: {
                color: colors[0]
              }
            },
            axisLabel: {
              formatter: '{value} m'
            }
          },
          {
            type: 'value',
            name: '个数',
            min: 0,
            max: 50,
            position: 'left',
            axisLine: {
              lineStyle: {
                color: colors[1]
              }
            },
            axisLabel: {
              formatter: '{value} 个'
            }
          }
        ],
        series: [
          {
            name: '平均距离',
            type: 'line',
            data: [<%=average(@house.buses)%>, <%=average(@house.works)%>, <%=average(@house.schools)%>, <%=average(@house.hospitals)%>, <%=average(@house.subways)%>, <%=average(@house.shops)%>]
          },
          {
            name: '个数',
            type: 'bar',
            yAxisIndex: 1,
            data: [<%=@house.bus_num%>, <%=@house.work_num%>, <%=@house.school_num%>, <%=@house.hospital_num%>, <%=@house.subway_num%>, <%=@house.shop_num%>]
          }
        ]
      }
  );

  pie_chart.setOption({

    tooltip: {
      trigger: 'item',
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
      orient: 'vertical',
      left: 'left',
      data: ['公交', '地铁', '学校', '医院', '写字楼', '购物']
    },
    series: [
      {
        name: '基础设施',
        type: 'pie',
        radius: '55%',
        center: ['50%', '60%'],
        data: [
          {value: <%= @house.bus_num%>, name: '公交'},
          {value: <%= @house.subway_num%>, name: '地铁'},
          {value: <%= @house.school_num%>, name: '学校'},
          {value: <%= @house.hospital_num%>, name: '医院'},
          {value: <%= @house.work_num%>, name: '写字楼'},
          {value: <%= @house.shop_num%>, name: '购物'},
        ],
        itemStyle: {
          emphasis: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }
    ]
  })

</script>