<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">搜索附近: <%= keyword %></h2>
  </div>
</div>

<div class="row">

  <div class="col-sm-4">

    <div class="panel panel-default">
      <div class="panel-heading">控制面板
      </div>
      <div class="panel-body">

        <form class="form-horizontal">
          <%#= select_tag "data_type", options_for_select(["公交车站", "商场", "学校", "地铁站", "写字楼", "医院"], "公交车站"), class: "form-control" %>
          <%= hidden_field_tag "post_url", post_url %>
          <%= hidden_field_tag "get_url", get_url %>
          <%= hidden_field_tag "keyword", keyword %>

          <div class="form-group">
            <label class="col-sm-4 control-label">刷新频率</label>
            <div class="col-sm-8">
              <%= select_tag "time_interval", options_for_select([100, 200, 500, 1000, 2000], 100), class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">搜索范围</label>
            <div class="col-sm-8">
              <%= select_tag "time_interval", options_for_select([1000, 1500, 2000], 1000), class: "form-control" %>
            </div>
          </div>

          <button class="btn btn-success btn-block">开始</button>

        </form>

        <button class="btn btn-danger btn-block" onclick="flag=true;" style="margin-top: 10px">暂停</button>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        当前房屋信息:
      </div>
      <div class="panel-body">
        <table>
          <tr>
            <td style="width: 20%">ID:</td>
            <td id="id"></td>
          </tr>
          <tr>
            <td style="width: 20%">小区:</td>
            <td id="community"></td>
          </tr>
          <tr>
            <td style="width: 20%">地址:</td>
            <td id="street"></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        实时返回周边数据
      </div>
      <div class="panel-body">
        <table id="result" class="table table-responsive table-condensed table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>地点名</th>
            <th>直线距离</th>
          </tr>
          </thead>
          <tbody style="font-size: small">

          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        百度地图API
      </div>
      <div class="panel-body">
        <div id="l-map" style="height: 500px;width: 100%">
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

  var post_url = null;
  var get_url = null;
  var keyword = null;
  var timeInterval = null;
  var flag = false;
  var search_range;

  var map = new BMap.Map("l-map");
  map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);
  map.enableScrollWheelZoom(true);
  var myGeo = new BMap.Geocoder();

  $('form').submit(function () {
    var params = $(this).serializeArray();
    post_url = params[0].value;
    get_url = params[1].value;
    keyword = params[2].value;
    timeInterval = Number(params[3].value);
    search_range = Number(params[4].value);

    if (post_url == null || get_url == null || keyword == null || timeInterval == null || search_range == null) {
      alert('Error in post url: ' + post_url + " or get url: " + get_url + " keyword: " + keyword + " or timeInterval: " + timeInterval);
    } else {
      flag = false;
      getData();
    }
    return false; // prevents normal behaviour
  });


  function getData() {
    $.ajax({
      type: "GET",
      url: get_url,
      dataType: 'json',
      success: function (data) {
        var id = data.id;

        $('#id').html(data.id);
        $('#community').html(data.community);
        $('#street').html(data.street);

        myGeo.getPoint(data.street, function (point) {
          if (point) {
            markData(point, id);
          } else {
            myGeo.getPoint(data.community, function (repoint) {
              if (repoint) {
                markData(repoint, id)
              } else {
                setTimeout(function () {
                  console.log("Error: no address of " + " id: " + data.id + " community: " + data.community + " street: " + data.street);
                  getData();
                }, timeInterval);
              }
            }, "北京市");
          }
        }, "北京市");
      },
      error: function () {
        alert('没有权限喔')
      },
      timeout: function () {
        alert('time out')
      }
    });
  }

  function markData(point, id) {
    map.centerAndZoom(point, 16);
    map.addOverlay(new BMap.Marker(point));
    setTimeout(function () {
      searchLocal(id, point);
    }, timeInterval);
  }

  function searchLocal(id, location) {
    var array = [];
    map.clearOverlays();
    var local = new BMap.LocalSearch(map, {
      renderOptions: {map: map, autoViewport: true},
      pageCapacity: 50,
      onSearchComplete: function (results) {

        $('#result tbody tr').remove();

        if (local.getStatus() == BMAP_STATUS_SUCCESS) {
          for (var i = 0; i < results.getCurrentNumPois(); i++) {
            var locate = results.getPoi(i);
            if (locate != null) {
              var distance = parseFloat(map.getDistance(locate.point, location)).toFixed(1);
              array.push(locate.title + "/" + locate.point.lng + '/' + locate.point.lat + '/' + distance);
              $('#result tbody').append("<tr><td>" + array.length + "</td><td>" + locate.title + "</td><td>" + distance + "</td></tr>");
            }
          }

          $.ajax({
            type: "POST",
            url: post_url,
            data: "info=" + array + "&id=" + id,
            dataType: "JSON",
            success: function (data) {
              if (flag) {
                console.log("warning", 'pause');
              } else {
                getData();
                console.log("success", data);
              }

            },
            error: function () {
              alert('error in post');
            },
            timeout: function () {
              alert('time out in post')
            }
          });
        } else {
          getData();
          console.log("error", local.getStatus());
        }
      }
    });
    local.searchNearby(keyword, location, search_range);
  }


</script>

