<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                            </span>
        </div>
        <!-- /input-group -->
      </li>
      <li>
        <%= link_to root_url, method: :get do %>
            <i class="fa fa-dashboard fa-fw"></i> Dashboard
        <% end %>
      </li>

      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Data Extraction <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li><%= link_to "公交车站", buses_path, method: :get %></li>
          <li> <%= link_to "医院", hospitals_path, method: :get %></li>
          <li> <%= link_to "学校", schools_path, method: :get %></li>
          <li> <%= link_to "地铁站", subways_path, method: :get %></li>
          <li> <%= link_to "商场", shops_path, method: :get %></li>
          <li> <%= link_to "写字楼", works_path, method: :get %></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> 房屋数据<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li><%= link_to "数据列表", houses_path, method: :get %></li>
          <li> <%= link_to "补全数据", collect_houses_path, method: :get %></li>
        </ul>
      </li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>